body{
    background: black;
    font-family: 'Josefin Sans', sans-serif;
    color: red;
    
}
html{
    -webkit-text-size-adjust: 100%;
}


.navbar-nav a.active{
    border-bottom: 3px solid black;
}
@media (min-width:1025px){
    .logo{
        height: 370px;
        width: 370px;
    }
}
@media (min-width:1281px){
    .logo{
        height: 300px;
        width: 300px;
    }
}

@media (min-width:320px){
    .logo{
        height: 110px;
        width: 110px;
    }
}
@media (min-width:480px){
    .logo{
        height: 150px;
        width: 150px;
    }
}
@media (min-width:600px){
    .logo{
        height: 150px;
        width: 150px;
    }
}
@media (min-width:801px){
    .logo{
        height: 150px;
        width: 150px;
    }
}

